
@mixin font($size: 16px, $height: 28px, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin ul() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin a() {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

@mixin fields() {
  margin: 0;
  padding: 0;
}

@mixin mobile() {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 14px;
}

@mixin tablet() {
  min-width: 767px;
  margin: 0 auto;
  padding: 0 24px 0 25px;
}

@mixin desktop() {
  max-width: 1454px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin button() {
  @include font(16px, 19px, 700);
  padding: 15px 20px;
  border: none;
  font-family: $font;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin pseudo() {
  position: absolute;
  content: "";
}
