$font: "PT Mono", "Arial", sans-serif;
$roboto: "Roboto Condensed", "Arial", sans-serif;

$mobile: 320px;
$tablet: 767px;
$desktop: 1023px;
$extra: 2dppx;
$tr: 0.2s ease-in-out;
$main-pad-left: 96px;
