.about {
  color: $grey;
  margin-bottom: 103px;

  @media (max-width: $desktop) {
    margin-bottom: 70px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 65px;
  }
}

.about__content {
  position: relative;
  padding-left: 210px;
  margin-right: 126px;
  margin-left: 92px;
  min-height: 317px;
  display: flex;
  flex-direction: column;

  &::before {
    @include pseudo();
    top: 0;
    left: 0;
    width: 220px;
    height: 317px;
    background-image: url("../img/2005-desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 8px;

    @media (min-resolution: $extra) {
      background-image: url("../img/2005-desk@2.png");
    }
  }

  @media (max-width: $desktop) {
    margin: 0;
    min-height: 362px;
    padding-left: 188px;

    &::before {
      width: 251px;
      height: 362px;
      left: -28px;
      top: -5px;
      background-image: url("../img/2005-tab.png");
      background-size: 251px 362px;
      background-position: left top;

      @media (min-resolution: $extra) {
        background-image: url("../img/2005-tab@2.png");
      }
    }
  }

  @media (max-width: $tablet) {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.about h2 {
  @include fields();
  @include font(36px, 57px, 400);
  margin-bottom: 18px;
  font-family: $roboto;

  @media (max-width: $desktop) {
    @include font(32px, 140%, 400);
    margin-bottom: 24px;
  }

  @media (max-width: $tablet) {
    @include font(28px, 140%, 400);
    margin-bottom: 18px;
  }
}

.about p {
  @include fields();
  @include font(16px, 22px, 400);
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 2px;
  }

  @media (max-width: $desktop) {
    @include font(16px, 140%, 400);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.about__content span {
  @media (max-width: $desktop) {
    display: none;
  }
}

.about__link {
  @include a();
  @include button();
  @include font(14px, 16px, 700);
  padding: 12px 48px 14px;
  margin-top: 38px;
  margin-right: auto;
  color: $accent;
  border: 1px solid $accent;
  border-radius: 5px;
  letter-spacing: 0.05em;

  &:hover {
    color: $white;
    background-color: $accent;
    transition: $tr;
  }

  &:active {
    opacity: 0.8;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    @include font(14px, 14px, 400);
    padding: 15px 47px 14px;
    margin-top: 42px;

    &:active {
      color: $white;
      background-color: $accent;
      transition: $tr;
    }
  }

  @media (max-width: $tablet) {
    margin-top: 29px;
    padding: 15px 50px 14px;
  }
}
