.accordion {
  @include ul();
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop) {
    padding-top: 37px;
  }

  @media (max-width: $tablet) {
    padding-top: 0;
    flex-direction: column;
  }
}

.accordion__site-nav {
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  max-width: 50%;

  @media (max-width: $desktop) {
    margin-right: 0;
  }

  @media (max-width: $tablet) {
    max-width: 100%;

    &::before {
      @include pseudo();
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: rgba($bottom-line, 0.2);
    }
  }
}

.accordion__contacts {
  @media (max-width: $desktop) {
    margin-right: 10px;
  }

  @media (max-width: $tablet) {
    margin-right: 0;
  }
}

.accordion input {
  @include fields();
  appearance: none;
  position: absolute;
}

.accordion label {
  @include font(15px, 16px, 400);
  text-transform: uppercase;
  font-family: $roboto;
  letter-spacing: 0.05em;

  @media (max-width: $tablet) {
    padding: 30px 60px 27px 0;
    display: block;
    position: relative;
    cursor: pointer;

    &::before {
      @include pseudo();
      width: 16px;
      height: 2px;
      top: 50%;
      right: 0;
      background-color: $light-gray;
      transform: translate(-50%);
      box-shadow: none;
    }

    &::after {
      @include pseudo();
      width: 2px;
      height: 16px;
      top: 50%;
      right: 15px;
      background-color: $light-gray;
      transform: translateY(-45%);
    }

    &:active {
      color: $accent;
      transition: $tr;

      &::before,
      &::after {
        background-color: $accent;
        transition: $tr;
      }
    }
  }
}

.accordion__list {
  @include ul();
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 100%;

  &--double {
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $desktop) {
      flex-direction: column;
    }
  }

  @media (max-width: $tablet) {
    margin-top: 5px;
    margin-bottom: 26px;
    max-width: 90%;
    display: none;
  }
}

.accordion__inner-list {
  @include ul();
  display: flex;
  flex-direction: column;
}

.accordion__column {
  margin-right: 70px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $desktop) {
    margin-right: 0;
  }
}

.accordion__input:checked ~ .accordion__list {
  @media (max-width: $tablet) {
    display: block;
    transform: translateY(0%);
    transition: 1s;
  }
}

.accordion__input:checked ~ .accordion__label::after {
  display: none;
}

.accordion__link {
  @include a();
  @include font(15px, 26px, 400);
  text-align: left;
  opacity: 0.5;

  &:hover {
    color: $accent;
    opacity: 1;
    transition: $tr;
  }

  &:active {
    opacity: 0.5;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    @include font(15px, 25px, 400);
  }
}
