body {
  @include font();
  position: relative;
  margin: 0 auto;
  padding: 0;
  color: $dark;
  font-family: $font;
  overflow-x: hidden;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
