.feedback {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: $accent;
  color: $white;
  position: relative;
  background-image: url("../img/airplane-desk.png");
  background-size: 35% auto;
  background-repeat: no-repeat;
  background-position: 14% center;

  @media (max-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 65px;
    background-image: none;
  }

  @media (max-width: $tablet) {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.feedback .container {

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.feedback__form {
  margin-right: 80px;
  margin-left: auto;
  max-width: 46%;

  @media (max-width: $desktop) {
    max-width: 92%;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    position: relative;
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet) {
    max-width: 100%;
  }
}
