.feedback {
  padding-top: 60px;
  padding-bottom: 72px;
  background-color: $accent;
  color: $white;

  @media (max-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 65px;
    background-image: none;
  }

  @media (max-width: $tablet) {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.feedback .container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.feedback img {
  flex-shrink: 1;
  position: relative;
  right: 60px;
  top: 34px;

  @media (max-width: $desktop) {
    display: none;
  }
}

.feedback__form {
  margin-right: 80px;
  max-width: 650px;
  flex-shrink: 0;

  @media (max-width: $desktop) {
    max-width: 92%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: 1fr;
    flex-grow: 1;
  }

  @media (max-width: $tablet) {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
