.footer {
  padding-top: 65px;

  @media (max-width: $desktop) {
    padding-top: 19px;
  }

  @media (max-width: $tablet) {
    padding-top: 46px;
  }
}

.footer__top {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop) {
    margin-bottom: 38px;
    flex-direction: column;
  }

  @media (max-width: $tablet) {
    margin-bottom: 23px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  @media (max-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 26px;
    align-items: center;
  }

  @media (max-width: $tablet) {
    margin-bottom: 54px;
    flex-direction: column;
  }
}

.footer__logo {
  margin-bottom: 54px;

  @media (max-width: $desktop) {
    margin-bottom: 0;
  }
}

.footer__link {
  @include a();
  @include font(13px, 24px, 400);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  opacity: 0.5;

  &--sd {
    display: none;

    @media (max-width: $desktop) {
      display: block;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  &:hover {
    color: $accent;
    transition: $tr;
  }

  &:active {
    color: rgba($accent, 0.8);
    transition: $tr;
  }
}

.footer__accordion {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 70%;
  flex-wrap: wrap;

  @media (max-width: $desktop) {
    &::before {
      @include pseudo();
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: rgba($bottom-line, 0.2);
    }
  }
}

.footer__bottom {
  position: relative;

  &::before {
    @include pseudo();
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: rgba($bottom-line, 0.2);
  }
}

.footer__bottom-item {
  padding: 15px 0;
  margin-right: 5%;

  &--sd-bottom {
    margin-right: 10%;
  }

  &:last-of-type {
    margin-right: 0;
    margin-left: auto;
  }

  &--rights,
  &--sd-bottom {
    @media (max-width: $desktop) {
      display: none;
    }
  }

  @media (max-width: $desktop) {
    padding: 20px 0;
  }
}

.footer__copyright {
  @include ul();
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
