.form {
  padding: 33px 40px 36px;
  background-color: $accent;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.form button[type=button] {
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  align-self: flex-end;
  position: relative;
  border: none;

  &::before {
    @include pseudo();
    width: 24px;
    height: 2px;
    top: 9px;
    left: -2px;
    transform: rotate(45deg);
    background-color: $white;
  };

  &::after {
    @include pseudo();
    width: 2px;
    height: 24px;
    top: -2px;
    left: 9px;
    transform: rotate(-135deg);
    background-color: $white;
  };

  &:hover {
    background-color: $white;

    &::before,
    &::after {
      background-color: $accent;
      transition: $tr;
    }
    transition: $tr;
  }
}

.form h2 {
  @include font(36px, 57px, 400);
  @include fields();
  margin-bottom: 2px;
  font-family: $roboto;

  @media (max-width: $desktop) {
    @include font(32px, 140%, 400);
  }

  @media (max-width: $tablet) {
    @include font(28px, 140%, 400);
  }
}

.form p {
  @include fields();
  margin-bottom: 49px;
}

.form form {
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-template-areas:
  "name phone"
  "textarea textarea"
  "submit checkbox";

  .modal & {
    max-width: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "name"
    "phone"
    "textarea"
    "submit"
    "checkbox";
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-areas:
    "name"
    "phone"
    "textarea"
    "submit"
    "checkbox";
  }
}

.form__input input,
.form textarea {
  @include font(16px, 22px, 400);
  font-family: $font;
  padding: 14px 16px;
  margin: 0;
  width: 100%;
  background-color: rgba($white, 0.1);
  color: $white;
  border: 1px solid rgba($white, 0.1);

  &::placeholder {
    color: $white;
    transition: $tr;
  }
  &:hover {
    border: 1px solid $white;
  }
}

.form__input {
  &--name {
    grid-area: name;
  }

  &--phone {
    grid-area: phone;
  }

  &--checkbox {
    grid-area: checkbox;
    position: relative;
    padding-left: 40px;
  }

  &--error {
    border: 1px solid red;
  }
}

.form textarea {
  grid-area: textarea;
  resize: none;
  min-height: 154px;
}

.form button[type=submit] {
  @include a();
  @include button();
  @include font(16px, 19px, 700);
  padding: 17px 45px;
  background-color: $accent;
  font-family: $roboto;
  text-transform: uppercase;
  border: 1px solid $white;
  border-radius: 5px;
  letter-spacing: 0.05em;
  width: 100%;

  &:hover {
    color: $accent;
    background-color: $white;
    transition: $tr;
  }

  &:active {
    color: $dark;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    @include font(14px, 16px, 400);
    padding: 15px;
  }
}

.form__input--checkbox input {
  appearance: none;
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    border: none;
  }
}

.form__input--checkbox label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 4px;
    left: -40px;
    height: 23px;
    width: 23px;
    border: 1px solid $white;
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 10px;
    left: -34px;
    height: 8px;
    width: 12px;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    transform: rotate(-45deg);
    display: none;
  }

  @media (max-width: $desktop) {
    @include font(14px, 16px, 400);
  }
}

.form__input--checkbox input:checked + label::after {
  /* Чекбокс активный */
  display: block;
}
