.form {
  padding: 33px 40px 40px;
  background-color: $accent;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: $tablet) {
    padding: 30px 15px 32px;
  }
}


.form button[type="button"] {
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  align-self: flex-end;
  position: relative;
  border: none;

  &::before {
    @include pseudo();
    width: 24px;
    height: 2px;
    top: 9px;
    left: -2px;
    transform: rotate(45deg);
    background-color: $white;
  }

  &::after {
    @include pseudo();
    width: 2px;
    height: 24px;
    top: -2px;
    left: 9px;
    transform: rotate(-135deg);
    background-color: $white;
  }

  &:hover {
    background-color: $white;

    &::before,
    &::after {
      background-color: $accent;
      transition: $tr;
    }
    transition: $tr;
  }
}

.form h2 {
  @include font(36px, 57px, 400);
  @include fields();
  margin-bottom: 2px;
  margin-left: -5px;
  letter-spacing: -0.01em;
  font-family: $roboto;

  @media (max-width: $desktop) {
    @include font(32px, 140%, 400);
    margin-bottom: 12px;
  }

  @media (max-width: $tablet) {
    @include font(28px, 140%, 400);
    letter-spacing: normal;
    margin-bottom: 14px;
    margin-left: 0;
  }
}

.form p {
  @include fields();
  margin-bottom: 50px;

  @media (max-width: $desktop) {
    margin-bottom: 56px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 28px;
  }
}

form {
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-template-areas:
    "name phone"
    "textarea textarea"
    "submit checkbox";

  .modal & {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "phone"
      "textarea"
      "submit"
      "checkbox";
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
    grid-template-areas:
      "name"
      "phone"
      "textarea"
      "submit"
      "checkbox";
  }
}

.form__input input,
.form textarea {
  @include font(16px, 22px, 400);
  font-family: $font;
  padding: 13px 16px 14px;
  margin: 0;
  width: 100%;
  background-color: rgba($white, 0.1);
  color: $white;
  border: 1px solid rgba($white, 0.1);

  &::placeholder {
    color: $white;
    transition: $tr;
  }

  &:hover {
    border: 1px solid $white;
  }

  @media (max-width: $tablet) {
    padding: 11px 20px 12px 14px;
  }
}

.form__input {
  &--name {
    grid-area: name;
  }

  &--phone {
    grid-area: phone;
  }

  &--error {
    animation: buzz 0.6s;
    border-color: $accent;

    &::placeholder {
      color: $accent;
      opacity: 1;
    }
  }
}

.form textarea {
  grid-area: textarea;
  resize: none;
  min-height: 154px;
  margin-bottom: 4px;

  @media (max-width: $desktop) {
    min-height: 160px;
  }

  @media (max-width: $tablet) {
    min-height: 105px;
    margin-bottom: 0;
  }
}

.form button[type="submit"] {
  @include a();
  @include button();
  @include font(14px, 16px, 700);
  padding: 15px 43px;
  background-color: $accent;
  font-family: $roboto;
  text-transform: uppercase;
  border: 1px solid $white;
  border-radius: 5px;
  letter-spacing: 0.05em;
  width: 100%;

  &:hover {
    color: $accent;
    background-color: $white;
    transition: $tr;
  }

  &:active {
    color: $dark;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    @include font(14px, 16px, 400);
    padding: 15px;
  }

  @media (max-width: $tablet) {
    margin-top: -8px;
    margin-bottom: -5px;
  }
}

.form__input--checkbox {
  grid-area: checkbox;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;

  @media (max-width: $desktop) {
    margin-top: 5px;
  }

  @media (max-width: $tablet) {
    margin-top: 0;
    padding-left: 34px;
  }
}

.form__input--checkbox input {
  appearance: none;
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    border: none;
  }
}

.form__input--checkbox label {
  @include font(14px, 16px, 400);
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -35px;
    height: 20px;
    width: 20px;
    border: 1px solid $white;
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -31px;
    height: 8px;
    width: 12px;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    transform: rotate(-45deg);
    display: none;
  }

  @media (max-width: $desktop) {
    @include font(14px, 16px, 400);

    &::before {
      left: -28px;
      width: 16px;
      height: 16px;
    }

    &::after {
      width: 10px;
      height: 6px;
      left: -25px;
    }
  }

  @media (max-width: $tablet) {
    &::before {
      left: -31px;
    }

    &::after {
      width: 10px;
      height: 6px;
      left: -28px;
    }
  }
}

.form__input--checkbox input:checked + label::after {
  /* Чекбокс активный */
  display: block;
}
