.header {
  @include pseudo();
  top: 34px;
  left: 0;
  right: 0;
  background-color: transparent;
  color: $white;
  z-index: 999;

  @media (max-width: $desktop) {
    top: 22px;
  }

  @media (max-width: $tablet) {
    top: 18px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 60px;
  // margin-left: 8px;

  @media (max-width: $desktop) {
    margin-left: 0;
  }
}

.header__contacts {
  @include ul();
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media (max-width: $desktop) {
    margin-bottom: 5px;
  }
}

.header__contacts-item {
  padding: 10px;
  margin-right: 66px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $desktop) {
    margin-right: 33px;
    padding: 0;
  }

  @media (max-width: $tablet) {
    margin-right: 23px;
  }
}

.header__contacts-link {
  @include a();
  display: flex;
  align-items: center;
}

.header__contacts-link svg {
  @media (max-width: $desktop) {
    width: 25px;
    height: 25px;
  }
}

.header__contacts-link span {
  @include a();
  margin-left: 18px;
  color: $white;

  @media (max-width: $desktop) {
    display: none;
  }
}

.header__contacts-link:hover span {
  color: $accent;
  transition: $tr;
}

.header__contacts-link:active span {
  color: rgba($accent, 0.5);
  transition: $tr;
}


.header__contacts-link:active svg {
  @media (max-width: $desktop) {
    stroke: $white;
  }
}

.header__button {
  @include button();
  @include font(14px, auto, 700);
  margin-left: 40px;
  margin-right: 4px;
  padding: 13px 25px 12px;
  font-family: $roboto;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  flex-shrink: 0;
  letter-spacing: 0.05em;

  &:hover {
    color: $accent;
    border-color: $accent;
    transition: $tr;
  }

  &:active {
    color: rgba($accent, 0.5);
    border-color: rgba($accent, 0.5);
    transition: $tr;
  }

  @media (max-width: $desktop) {
    display: none;
  }
}
