.main {
  // min-height: 100vh;
  position: relative;
  min-height: 878px;
  padding-top: 315px;
  background-color: $dark;
  background-image: url("../img/waves-desk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;

  &::after {
    @include pseudo();
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/pcb-desk.png");
    background-repeat: no-repeat;
    background-size: 37% auto;
    background-position: 85% 117px;
  }

  @media (max-width: $desktop) {
    padding-top: 188px;
    min-height: 686px;
    background-image: url("../img/waves-desk.png");
    background-size: cover;
    background-position: center;

    &::after {
      background-image: url("../img/pcb-tab.png");
      background-size: 330px 466px;
      background-position: right top;
    }
  }

  @media (max-width: $tablet) {
    padding-top: 286px;
    min-height: 646px;
    background-image: url("../img/waves-desk.png");
    background-size: cover;
    background-position: center;

    &::after {
      background-image: url("../img/pcb-mob.png");
      background-size: 294px 437px;
      background-position: right top;
    }
  }
}

.main__container {
  position: relative;
}

.main__layout {
  position: relative;
  z-index: 10;
  min-width: 54%;
  margin-right: auto;
  margin-bottom: 127px;

  @media (max-width: $desktop) {
    max-width: 68%;
    padding-bottom: 0;
    margin-left: 64px;
    margin-bottom: 0;
  }

  @media (max-width: $tablet) {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

.main h2 {
  @include font(80px, 94px, 700);
  @include fields();
  margin-bottom: 28px;
  margin-left: -3px;
  width: auto;
  font-family: $roboto;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @media (max-width: $desktop) {
    @include font(60px, 70px, 700);
    margin-bottom: 29px;
  }

  @media (max-width: $tablet) {
    @include font(40px, 47px, 700);
  }
}

.main p {
  @include font(22px, 34px, 400);
  @include fields();
  margin-bottom: 43px;
  max-width: 54%;
  position: relative;
  padding-left: $main-pad-desk;
  font-family: $font;

  &::before {
    @include pseudo();
    left: 4px;
    top: 17px;
    width: 66px;
    height: 2px;
    background-color: $white;
  }

  @media (max-width: $desktop) {
    @include font(18px, 156%, 400);
    padding-left: $main-pad-tab;
    margin-bottom: 54px;
    max-width: 100%;

    &::before {
      width: 33px;
    }
  }

  @media (max-width: $tablet) {
    @include font(16px, 156%, 400);
    margin-bottom: 42px;

    &::before {
      top: 14px;
    }
  }
}

.main__button {
  @include a();
  @include font(16px, 19px, 700);
  padding: 18px 45px;
  margin-left: $main-pad-desk;
  width: max-content;
  background-color: $accent;
  color: $white;
  font-family: $roboto;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 0.05em;

  &:hover {
    color: $accent;
    background-color: $white;
    transition: $tr;
  }

  &:active {
    color: $dark;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    padding: 18px 30px;
    margin-left: $main-pad-tab;
    max-width: 380px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    margin: 0;
    padding: 17px 25px;
  }
}

.main span {
  display: block;

  &:nth-of-type(2) {  // Их мы менять местами не будем никогда
    display: none;
  }

  @media (max-width: $tablet) {
    &:nth-of-type(2) {
      display: block;
    }

    &:nth-of-type(1) {
      display: none;
    }
  }
}

.main__link {
  @include a();
  @include font(14px, 16px, 400);
  color: rgba($white, 0.5);
  text-align: left;
  transform: rotate(-90deg);
  display: inline-block;
  margin-left: -42px;
  padding: 5px;

  &:hover {
    color: $accent;
    transition: $tr;
  }

  &:active {
    color: $white;
    transition: $tr;
  }

  @media (max-width: $desktop) {
    display: none;

    &:active {
      color: $white;
      transition: $tr;
    }
  }
}
