.modal {
  display: none;

  &--open {
    display: block;
  }

  &--open .modal__overlay {
    opacity: 1;
    z-index: 999;
    background-color: rgba($black, 0.5);
  }

  &--nojs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark;
    height: 100vh;
    padding: 40px;
  }
}

.modal__overlay {
  z-index: -1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0);
  transition: background-color 2s ease-in-out;
}

.modal__container {
  max-width: 490px;
}

.modal .form__field {
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "phone"
    "textarea"
    "submit"
    "checkbox";
}

.modal__logo {
  align-self: flex-start;
}

.modal__form {
  padding-bottom: 36px;
}

.modal__form h2 {
  @include font(28px, 140%, 400);
  margin-bottom: 14px;
}

.modal__form p {
  margin-bottom: 28px;
  padding-right: 40px;
}

.modal__form textarea {
  height: 104px;
  min-height: unset;
}

.modal__form .form__field {
  grid-row-gap: 30px;
}

.modal__form .form__input {
  @include font(16px, 134%, 400);
}

.modal__form .form__input--checkbox {
  padding-right: 40px;
}
